doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		title #{title}
		link(href="http://7xky7l.com1.z0.glb.clouddn.com/favicon.ico",rel="shortcut icon")
		link(href="http://7xl7yk.com1.z0.glb.clouddn.com/zepto.fullpage.css",rel="stylesheet")
		link(href="/assets/css/violet.css",rel="stylesheet")
	body
		div.wp
			div.wp-inner
				div.page.page1  
					img(src="http://7xky7l.com1.z0.glb.clouddn.com/IMG_7576.JPG")
				div.page.page2
					img(src="http://7xky7l.com1.z0.glb.clouddn.com/IMG_7576.JPG")
				div.page.page3
					img(src="http://7xky7l.com1.z0.glb.clouddn.com/IMG_7576.JPG")
				div.page.page4
					img(src="http://7xky7l.com1.z0.glb.clouddn.com/IMG_7576.JPG")
		span.start
			b
		script(src="http://7xl7yk.com1.z0.glb.clouddn.com/zepto.min.js")
		script(src="http://7xl7yk.com1.z0.glb.clouddn.com/zepto.fullpage.js")
		script(src="/assets/js/violet.js")